* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

header {
  display: flex;
  height: 4rem;
  background-color: rgb(82, 82, 82);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.logo {
  height: auto;
  width: 350px;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  padding: 1rem;
}

#map {
  height: 400px;
  width: 90%;
  border-radius: 10px;
}

#weather {
  font-size: 1.5rem;
  padding: 1rem;
}
#weather1 {
  font-size: 1.5rem;
  padding: 1rem;
}

#weather2 {
  font-size: 1.5rem;
  padding: 1rem;
}

#weather3 {
  font-size: 1.5rem;
  padding: 1rem;
}

#weather4 {
  font-size: 1.5rem;
  padding: 1rem;
}

#weather5 {
  font-size: 1.5rem;
  padding: 1rem;
}

.weather-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.legal-container {
  display: flex;
  height: 10rem;
  width: 100%;
  background-color: rgb(82, 82, 82);
  position: fixed;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
